<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="shortcut icon" href="../Img/favicon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
 
    <title>Armonización</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="Logo" src="../Img/logo.jpeg" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="reiki.html">Reiki</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aromaterapia.html">Aromaterapia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="cuencos.html">Cuencos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="meditacion.html">Meditacion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="principal">
        <img id="foto" src="../Img/essential-oils-g4a48a3fbe_640.jpg" alt="buddha">
        <h1>Armomaterapia</h1>
        <p> Se puede definir a la aromaterapia como un arte y ciencia milenaria que consiste en la combinación de extractos de aceites esenciales de plantas aromáticas que ayudan a crear balance, armonía y promover la salud del cuerpo, mente y espíritu.  Los aceites esenciales solo pueden extraerse de plantas aromáticas que incluyen flores, hojas, raíces, resinas, semillas y frutos; cada uno con aceites esenciales únicos con propiedades curativas propias.       </p>
        <p>La palabra aromaterapia surge de la combinación de las palabras "aroma", fragancia, y "terapia", tratamiento.  El perfumista y químico Rene-Maurice Gattefosse acuñó el término "aromaterapia" en 1937 luego de publicar un libro con ese nombre. Al tener sus orígenes en la medicina herbal, la aromaterapia implicaba, en sus comienzos, solo el uso medicinal de sustancias aromáticas (aceites esenciales). Su práctica ha mejorado mucho a lo largo de los años y se ha adoptado una variedad de métodos de aplicación holísticos que se centran en la totalidad de la persona, y comprende su salud física y mental. La aromaterapia utiliza diferentes métodos para su aplicación ya sea como terapia en sí misma, o en conjunto con otras terapias y tratamientos. </p>
        <p>La aromaterapia está enfocada en mejorar el bienestar, aliviar el estrés y ayudar a rejuvenecer y regenerar el cuerpo humano. Ha sido utilizada a lo largo de la historia de como forma de practicar la medicina tradicional en las grandes civilizaciones del mundo y en la actualidad, está aceptada a nivel mundial por profesionales ortodoxos y complementarios como una de las terapias naturales más inclusivas.</p>
        <br>
        <h1>¿Qué es un Aceite Escencial?</h1>
        <p>La aromaterapia está enfocada en mejorar el bienestar, aliviar el estrés y ayudar a rejuvenecer y regenerar el cuerpo humano. Ha sido utilizada a lo largo de la historia de como forma de practicar la medicina tradicional en las grandes civilizaciones del mundo y en la actualidad, está aceptada a nivel mundial por profesionales ortodoxos y complementarios como una de las terapias naturales más inclusivas.</p>
        <p>Los aceites esenciales son usados de forma sinérgica en la aromaterapia y sus propiedades terapéuticas pueden mejorar la salud en diferentes situaciones, problemas de piel, musculares y dolores artríticos, incluso problemas relacionados al estrés, la menstruación y problemas respiratorios. Investigaciones y ensayos clínicos en el mundo muestran los efectos positivos de la aromaterapia; un ejemplo es la eficacia de algunos aceites esenciales en casos de SARM (geranio y árbol de té) o incluso mejoras de las funciones cognitivas en pacientes con Alzheimer (limón y romero). </p>
        <p>Algunos aceites esenciales pueden presentar complicaciones como irritación de la piel y de membranas mucosas, o fototoxicidad. Algunos interactúan de determinada manera con otras drogas o medicamentos (por ejemplo anticoagulantes) o en algunos casos puede que no se recomienden determinados aceites en pacientes con epilepsia, mujeres embarazadas o en período de lactancia o incluso en bebés.  </p>
        
    </div>
    <footer class="footer">
      <div>
        <ul>
            <li class="menu-footer"><a href="nosotros.html">Nosotros</a></li>
            <li class="menu-footer"><a href="cursos.html">Cursos</a></li>
            <li class="menu-footer"><a href="contacto.html">Contacto</a></li>
        </ul>
    </div>
    <div>
        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.811923933595!2d-57.552521688272385!3d-38.00484714486614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc1c2ee4945f%3A0xd398ba7f6ac84de1!2sAlmte.%20Brown%202500%2C%20B7600FUL%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1690574733725!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </footer>
    
</body>
</html>