<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="shortcut icon" href="../Img/favicon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <title>Armonización</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="Logo" src="../Img/logo.jpeg" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="reiki.html">Reiki</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aromaterapia.html">Aromaterapia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="cuencos.html">Cuencos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="meditacion.html">Meditacion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="principal">
        <img id="foto" src="../Img/reiki2.jpeg" alt="buddha" >
        <h1>¿Que es el Reiki y que beneficios tiene?</h1>
        <p>Mikao Usui, (monje budista japonés) fue quien desarrolló el Reiki durante un retiro espiritual a mediados del siglo XIX, aunque él siempre afirmó que únicamente «redescubrió» una técnica de sanación milenaria que ya existía pero que llevaba mucho tiempo olvidada.</p>
        <h1>El uso del REIKI</h1>
        <p>La práctica del Reiki se basa en un emisor que, a través de sus manos transmite Reiki (energía vital) a un receptor que puede ser él mismo u otra persona (presente o no en el espacio-tiempo), con el fin de paliar o intentar eliminar molestias y enfermedades. No obstante, dado que Reiki es una energía universal los tratamientos también pueden dirigirse a otros seres vivos como animales, plantas o situaciones.</p>
        <p>Es una energía inofensiva, sin efectos secundarios, es práctica, segura, eficiente y compatible con cualquier otro tipo de terapia.</p>
        <p>El método Reiki se basa en la creencia hinduista de que el correcto fluir de la Energía Vital a través de los distintos chakras es lo que asegura un buen estado de salud en el organismo. Según esta creencia, el mal funcionamiento o bloqueo de la energía en uno o varios chakras sería lo que provoca o agrava el mal estado de salud, dando lugar a enfermedades y trastornos. El método consiste en dirigir la energía Reiki a los chakras de un enfermo (receptor), desbloqueándolos y potenciando el proceso de recuperación del receptor.</p>
        <p>El Reiki no puede reemplazar al tratamiento médico, aunque sí se puede utilizar de forma complementaria.</p>
        <p>El Reiki llega mucho más allá del cuerpo físico. Puede resultar eficaz, en manos expertas, en multitud de molestias y trastornos tanto físicos como psicológicos, como la ansiedad, el estrés, el insomnio, la artritis, las jaquecas, los problemas gástricos y también actúa como sanador de bloqueos emocionales profundos.</p>
        <p>Es una energía preventiva y curativa. Puede ayudar en las terapias de desintoxicación, reduce los efectos secundarios de todo tipo de tratamientos, incluyendo la quimioterapia, por ejemplo. Acelera los tiempos de recuperación y mejora el estado general de personas sanas o enfermas, ya que equilibra las energías, libera las emociones, desarrolla la conciencia, aumenta la creatividad y eleva la energía vital.</p>
        <h1>¿Qué nos aporta el Reiki?</h1>
        <p>La falta de salud no se muestra sólo en nuestro nivel físico (enfermedades); también se refleja en el nivel emocional, mental y espiritual.</p>
        <p>Reiki puede ayudar a aliviar los dolores físicos pero considera a la persona de forma global en los cuerpos físico, emocional, mental y espiritual, de manera que, no solamente se dirige a suprimir la patología, sino también a recuperar el estado natural de equilibrio que produce bienestar y felicidad. Esto resulta esencialmente importante para poder lograr un cambio en el interior y en el entorno más inmediato. El Reiki nos ayuda a afrontar la vida con mayor equilibrio.</p>
  </div>
  <footer class="footer">
    <div>
      <ul>
          <li class="menu-footer"><a href="nosotros.html">Nosotros</a></li>
          <li class="menu-footer"><a href="cursos.html">Cursos</a></li>
          <li class="menu-footer"><a href="contacto.html">Contacto</a></li>
      </ul>
  </div>
  <div>
      <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.811923933595!2d-57.552521688272385!3d-38.00484714486614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc1c2ee4945f%3A0xd398ba7f6ac84de1!2sAlmte.%20Brown%202500%2C%20B7600FUL%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1690574733725!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  </footer>
</body>
</html>