/*Contacto*/
body{background: url(../Img/budabanner.jpg);
    background-repeat: none;
    background-size: cover;}
.formulario{box-sizing: border-box;
    margin:auto;
    padding:auto;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    background-color: rgb(245, 230, 255);}

.form-contact {
background: #FFF;
width: 500px;
position: relative;
top: 50%;
right: 50%;
transform: translate(-50%, -50%);
box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
}

.contact {
padding: .8rem;
overflow: hidden;
color: gray;
}

.contact label, .contact input, .contact textarea {
display: inline-block;
align-items: center;
justify-content: center;
width: 100%;
margin-bottom: 5px;   
}

.contact label {
font-weight: 700;
}

.contact input:not([type='submit']), .contact textarea {
border: none;
border-bottom: 2px solid #ff165d;
margin-bottom: 10px;
font-size: 20px;
outline: none;
color: gray;
}

.contact textarea {
min-height: 100px;
}

input[type='submit'] {
padding: 10px;
background: #ff165d;
border: none;
color: white;
font-size: 20px;
cursor: pointer;

}